Pillow == 8.1.0
PyYAML == 5.4
anytree == 2.7.2
matplotlib == 3.3.3
numpy == 1.19.2
pandas == 1.2.1
scikit_learn == 0.23.2
six == 1.15.0
tabulate == 0.8.5
torch == 1.7.1
torchvision == 0.8.2
tqdm == 4.55.1
